.attribution { 
    font-size: 11px; 
    text-align: center; 
} 

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

$body-color:  hsl(270, 7%, 64%);
$header-color: hsl(271, 36%, 24%);

$subheading-color: hsl(276, 100%, 81%);
$placeholder-text: hsl(206, 6%, 79%);
$right-chat: hsl(271, 15%, 43%);
$left-chat:hsl(276, 55%, 52%);

$app-background: hsl(270, 20%, 96%);
$submit-color: hsl(271, 36%, 24%);
$radio-outline: hsl(289, 100%, 72%);

$gradient_1:  hsl(293, 100%, 63%);
$gradient_2: hsl(264, 100%, 61%);


html{
    font-family: 'Rubik', sans-serif;
    background-color: $app-background;
    // :linear-gradient($gradient_1,$gradient_2);
}

span,p{
    font-size: 16px;
    color: $body-color;
}

h1{
    color: $header-color;
    font-weight: 500;
    font-size: 2em;
}

body{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

aside{
    background: linear-gradient($gradient_1, $gradient_2);
    background-size: 50% 90%;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;


    width: 50%;
}


section{
    width: 40%;
    p{
        line-height: 1.5;
    }
}

.mobile{
    background-color: hsl(270, 20%, 96%);
    border: 16px solid white;
    width: 44%;
    position: relative;

    right: -36%;
    border-radius: 32px;
   

    margin-top: 30vh;
    margin-bottom: 30vh;

    .app-header{
        text-align: left;
        //padding: 16px;
        background: linear-gradient(to left, $gradient_1,$gradient_2);
        border-radius: 16px 16px 0px 0px;

        #iphone-head{
            width: 60%;
            height: 1.75em;
            border-radius: 0px 0px 16px 16px;
            background-color: #fff;
            margin-left: 20%;
            margin-bottom: 1em;
        }

        #header-details{
            display: inline-flex;
            margin-bottom: 1em;

            .icon{
                fill: white;
                margin-top: 0.4em;
            }

            .avatar{
                width: 12%;
                border-radius: 50%;
                border: 2px solid  hsl(276, 100%, 81%);
                
            }

            .text{
                margin-left: 0.5em;
                .name{
                    color: hsl(276, 100%, 90%);
                    font-weight: 700;
                    margin: 0;
                    margin-top: 2px;
                    
                }
                .status{
                    margin: 0;  
                    margin-top: 2px;
                    font-size: 12px;
                    
                }
            }
           
        }
    }


    .chat{
        display: flex;
        flex-direction: column;
        padding: 16px;
        .chatbox{
            font-size: 11px;
            line-height: 1.5;
            padding: 8px;
            margin-bottom: 8px;
    
            inline-size: fit-content;
            max-width: 60%;
    
            &.right{
               
                color: $right-chat;
                background-color: #fff;
                border-radius: 16px 16px 4px 16px;
                align-self: flex-end;
            }
    
            &.left{
                align-self: flex-start;
                color: $left-chat;
                background-color:hsl(276, 55%, 90%);
                border-radius: 16px 16px 16px 4px;
               
            }

            &.payment{
                max-width: 80%;
                background: linear-gradient(to right, $gradient_1, $gradient_2);
                color: #FFF;
                border-radius: 12px 12px 12px 4px;
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }

                .checkmark{
                    border: 1px solid $radio-outline;
                    position: absolute;
                    height: 12px;
                    width: 12px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }


        #type-box{
            background: #FFF;
            border-radius: 16px;
            color:hsl(206, 6%, 79%);
            font-size: 11px;
            padding: 20px;
            &:hover{
                cursor: pointer;
            }

            .icon{
                background: $submit-color;
                fill: #FFF;
                border-radius: 50%;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    

}